body {
  font-family: "Montserrat";
}

li, p, h5, h2, h4 {
  color: #3A5BA0;
}

h4 {
  font-weight: bold;
}

li {
  font-weight: 400;
}

.experience h2 {
  font-size: larger;
  padding: 4px;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #1F4690;
}

.nav-link {
  color: #1F4690;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  padding: 0 18px;
}

/* Images */

.profile-image {
  width: 60%;
  border-radius: 100%;
}

.lockheed-image {
  width: 50%;
  border-radius: 100%;
}

/* Section Headings */

#projects .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#skills .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#experience .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#contact-me .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Header Section */

#header {
  background-color: #8CC0DE;
  padding: 7% 15%;
  text-align: center;
}

.name {
  color: #1F4690;
  right: 25%;
}

/* Skills Section */

.skill {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

#skills {
  text-align: center;
  padding: 5% 15%;
}

.skill-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1F4690;
}

.skill-image {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #143F6B;
}

.skill-box {
  padding: 5%;
}


/* Projects Section */

#projects {
  background-color: #8CC0DE;
  text-align: center;
  padding: 4% 7%;
}

.carousel-control-prev .carousel-control-next {
  background-color: black;
}

.project-image {
  width: 20%;
  padding: 1.5rem 0;
  border-radius: 100%;
}

.github-link {
  margin: 3% 0;
}

.project-text {
  padding: 3% 0;
  color: #3A5BA0;
}

/* Experience Section */

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.experience {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

.experience img {
  width: 200px;
  padding: 4px;
}

#experience {
  text-align: center;
  padding: 4%;
}


/* Contact Section */

.social {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 25%;
  text-align: center;
  padding: 20px;
}

.contact {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

#contact-me {
  background-color: #8CC0DE;
  text-align: center;
  padding: 20px;
}

.contact-text {
  font-weight: bold;
  font-size: 2rem;
  color: #1F4690;
}

.contact-icon {
  margin: 30px 10px;
  font-size: 3rem;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: grey;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-linkedin:hover {
  color: blue;
}

.fa-envelope {
  color: #D2042D;
}

.fa-envelope:hover {
  color: #F88379;
}

.email-icon {
  margin: 27px 10px;
  width: 55px;
  height: 55px;
}

@media (max-width: 1028px) {
  .contact-text {
    font-weight: bold;
    font-size: 1rem;
    color: #1F4690;
  }
}
