

body {
  font-family: "Montserrat", serif;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

hr {
  position:relative;
  top: 20px;
  border-top: 2px dotted black;
  height: 1px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

li, p, h5, h2, h4 {
  color: #3A5BA0;
}

h4 {
  font-weight: bold;
}

li {
  font-weight: 400;
}

.experience h2 {
  font-size: larger;
  padding: 4px;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #0093E9;
}

.navbar-brand:hover{
  color: #1F4690;
}

.nav-link {
  color: #0093E9;
  /* color: #1F4690; */
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bolder;
  padding: 0 18px;
}

.nav-link:hover {
  color: #1F4690;
}

/* Images */

.profile-image {
  width: 60%;
  border-radius: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  margin: 20px;
  text-align: center;
}

.lockheed-image {
  width: 50%;
  border-radius: 100%;
}

/* Section Headings */

#education .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#projects .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#skills .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#experience .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#contact-me .section-heading {
  color: #1F4690;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Header Section */

#header {
  padding: 7% 15%;
  text-align: center;
}

.name {
  color: #1F4690;
  right: 25%;
}

.intro {
  /* background-color: white; */
  font-family: "Merriweather", serif;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

.role {
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-style: italic;
}

.info {
  font-weight: bolder;
}

span {
  font-weight: lighter;
}

/* Skills Section */

.skill {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

#skills {
  text-align: center;
  padding: 5% 15%;
}

.skill-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1F4690;
}

.skill-image {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #143F6B;
}

.skill-box {
  padding: 5%;
}


/* Projects Section */

#projects {
  /* background-color: #8CC0DE; */
  text-align: center;
  padding: 4% 7%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.project-image {
  width: 20%;
  padding: 1.5rem 0;
  border-radius: 100%;
}

.github-link {
  margin: 3% 0;
  background-color: #1F4690;
}

.project-text {
  padding: 3% 0;
  color: #3A5BA0;
  border-radius: 50px;
}

#projects-carousel {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

/* Experience Section */

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.experience {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

.experience img {
  width: 200px;
  padding: 4px;
}

#experience {
  text-align: center;
  padding: 4%;
}


/* Contact Section */

.social {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 25%;
  text-align: center;
  padding: 20px;
}

.contact {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #8CC0DE;
  margin: 20px;
  width: 45%;
  text-align: center;
  padding: 20px;
}

#contact-me {
  /* background-color: #8CC0DE; */
  text-align: center;
  padding: 20px;
}

.contact-text {
  font-weight: bold;
  font-size: 2rem;
  color: #1F4690;
}

.contact-icon {
  margin: 30px 10px;
  font-size: 3rem;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: grey;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-linkedin:hover {
  color: #1F4690;
}

.fa-envelope {
  color: #1F4690;
}

.fa-envelope:hover {
  color: #0a66c2;
}

.email-icon {
  margin: 27px 10px;
  width: 55px;
  height: 55px;
}

@media (max-width: 1028px) {
  .contact-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1F4690;
  }
}
